@tailwind base;
@tailwind components;
@tailwind utilities;


.productsList{
  display: flex;
  flex-wrap: wrap;
}

.productCard{
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
  display: inline;
}

.productCard img{
  max-width: 100%;
  margin-bottom: 10px;
}

.productCard h4{
  font-size: 1.4rem;
  margin: 8px 0px;
}

.productCard p{
  font: 1em sans-serif;
  margin: 4px 0px;
  font-weight: 600;
  color: gray;
}